<div class='center'>
<h1>Products Store</h1><br />
  

  <form id='new_product_form' class='container'>

    <input id= 'new_product_name' type='text' name='product[name]' placeholder="Product Name" />

    <input id= 'new_product_price' type='number' name='product[base_price]' placeholder="$10.00" />

    <textarea id="new_product_description" name='product[description]' class="materialize-textarea"></textarea>

    <input type='submit' class='btn' />

  </form>

  <div id='products' class='row'>
  </div>
</div>
